<div class="beer-form">
	<form action='/beers' method='get'>
		<input type='text' name='query'>
		<input type='submit' value='START'>
	</form>
</div>

<div class="featured">
	<h2>TRENDING on</h2><%= image_tag "bottles.png", size: "100x100" %>
	<img src="<%= @f_label %>">
	<h3>BEER: <%= @f_beer %></h3>
	<h3>ABV: <%= @f_abv%></h3>
	<h3>BREWERY: <%= @f_brewery %></h3>
	<h3>FROM: <%= @f_location %></h3>
</div>